.svgIcon {
  fill: rgb(255, 255, 255);
}

.noBG {
  background-color: transparent !important;
}

div .css-1goce4-MuiToolbar-root {
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 985px) {
  .md-None {
    display: none !important;
  }
  .md-Block {
    display: block !important;
  }
}

@media screen and (min-width: 986px) {
  .md-None {
    display: flex !important;
  }
  .md-Block {
    display: none !important;
  }
}
