.svgIcon {
  fill: #74c2c2;
}

.noBG {
  background-color: transparent !important;
}

.linkText {
  color: white;
  text-decoration: none;
}

div .css-1goce4-MuiToolbar-root {
  padding-left: 48px;
  padding-right: 48px;
}

/* roadmap */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.floatDelay1 {
  animation-delay: -1s;
}

.floatDelay2 {
  animation-delay: -0.4s;
}

.floatDelay2 {
  animation-delay: -0.4s;
}

.islands div:nth-child(1) img {
  margin-top: 7vh;
  width: 20vh;
  animation-delay: -1s;
}

.islands div:nth-child(2) img {
  margin-top: -10vh;
  width: 10vh;
  margin-left: 4vw;
  z-index: -1;
}

.islands div:nth-child(3) img {
  margin-left: 9vw;
  width: 17vh;
  animation-delay: -3s;
}

.islands div:nth-child(4) img {
  margin-left: -24vw;
  width: 23vh;
  margin-top: 15vh;
  animation-delay: -5s;
}

.desktopMain {
  width: 700px;
  z-index: -10;
}

.mainImg {
  width: 30vh;
}

@media (min-width: 1200px) {
  div .css-x4932a-MuiContainer-root {
    max-width: 1600px;
  }

  div .css-1oqqzyl-MuiContainer-root {
    max-width: 1920px;
    padding: 0;
  }
}

.floatRight {
  float: right;
}

/* Tablet */
@media screen and (max-width: 985px) and (min-width: 485px) {
  /* home */
  .responsiveMargin {
    margin-top: 15%;
  }

  .iconMargin {
    margin-top: -8%;
  }
}

@media screen and (max-width: 485px) {
  .responsiveMargin {
    margin-top: 30%;
  }

  .responsiveWidth {
    width: 130%;
    margin-left: -55px;
  }

  .hiddenMobile {
    overflow: hidden;
    max-width: 100%;
  }

  #logo {
    width: 68px;
  }
}

@media screen and (max-width: 985px) {
  .backgroundImage {
    background-image: url(https://i.ibb.co/84c8bmc/i-Pad-Pro-11-1.png);
  }

  .md-None {
    display: none !important;
  }
  .md-block {
    display: block !important;
  }
}

@media screen and (min-width: 986px) {
  .backgroundImage {
    background-image: url(https://i.ibb.co/4d0vPFB/kumo.png);
  }
  .md-None {
    display: flex !important;
  }
  .md-block {
    display: none !important;
  }
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

/* About */
.aboutMobile > div > div {
  height: 80px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__slide:nth-child(2) {
  margin-right: 20px;
  margin-left: 25px;
}
.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  border: 0;
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: white;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 30%;
}

.embla__button--prev {
  vertical-align: middle;
}

.embla__button--next {
  float: right;
  vertical-align: middle;
}

.embla:before {
  display: none;
  content: '{ "loop": true, "draggable": false }'; /* <-- Will be overridden by these */
}
.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #1bcacd;
  opacity: 1;
}
p {
  color: white;
}

.image_container_park {
  margin: 6vw 0px;
}

.image_container_game {
  margin: 6vw 0px;
}

a {
  -webkit-tap-highlight-color: transparent;
}

#dots > div {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 4px;
  display: inline-block;
}

.active_dot {
  background-color: gray !important;
}
